<footer class="footer">
  <div class="left-footer">
    <img src="/static/logo.jpg" alt="BookNotes Logo" />
  </div>

  <div class="footer-content">
    <a href="https://github.com/pavannrajj" target="_blank" rel="noopener noreferrer" title="GitHub">
      <img src="/static/github-mark.svg" alt="GitHub Repository" />
    </a>
    <span>&copy; 2024 Pavan Raj. All rights reserved.</span>
  </div>
</footer>
